
header {
    position: relative; 
    width: 91%;
    left: 50px;
    height: 68px;
    margin: 40px 0px; 
    display: flex;
    justify-content: space-between; 
}

.LOGO {
    position: absolute;
    left: 2%;
    top: 0%;
    bottom: 0%;
    
}

nav {
    
    position: absolute;
    width: 30%;
    right: 42px;
    top: 25%;
    bottom: 25%;
    display: flex;
    justify-content: flex-end;
}


.link_home, .link_about {
    font-family: 'Montserrat', verdana, helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    text-decoration-line:none;
    color: #FF6060;
    margin-left: 50px; 
}

 nav a.active{
   text-decoration: none;
   border-bottom: 2px solid #FF6060;
    font-family: 'Montserrat', verdana, helvetica, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: #FF6060;
    margin-left: 50px; 
 }
  



@media only screen and (min-width: 992px) and (max-width: 1200px) {
.header {
left: 51px
}
nav {
width: 34%;
right: 34px;
}

}
@media only screen and (min-width: 762px) and (max-width: 991px) {
header {
 left: 50px;
}
nav{
width: 44%;
right: 32px;

}
}
@media only screen and (max-width:761px) {
.header {
    left: 6%;
    width:89%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.LOGO {
    width: 115px;
position: absolute;
left: 0%;
right: 56.72%;
top: 5%;
bottom: 0%;
}
nav {
    width: 140px;
    height: 17px;
    position: absolute;
    right: 0%;
    top: 38.3%;
    bottom: 25.53%;
    display: flex;
    justify-content: space-between;
}
.link_home, .link_about, nav a.active {
text-transform: uppercase;
Height:17px;
font-size: 12px;
margin-left: 0px;
}
}


